<section class="article">
  <div class="topic">
    <h5>Danh sách chủ đề</h5>
    <ul class="topic__list">
      <li><a href="#">Lập trình</a></li>
      <li><a href="#">Sức khỏe</a></li>
      <li><a href="#">Ẩm thực</a></li>
      <li><a href="#">Xe</a></li>
      <li><a href="#">Du lịch</a></li>
    </ul>
  </div>
  <hr>
  <div class="footer">
    <div class="footer__item">
      <a href="#">Hỗ trợ</a>
    </div>
    <div class="footer__item">
      <a href="#">Giới thiệu</a>
    </div>
    <div class="footer__item">
      <a href="#">Góp ý</a>
    </div>
    <div class="footer__item">
      <a href="#">Sử dụng dịch vụ</a>
    </div>
    <div class="footer__item">
      <a href="#">Cộng đồng</a>
    </div>
  </div>
  <hr>
  <div class="contact">
      <h5>Liên hệ với chúng tôi</h5>
      <ul class="contact__list">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
          <li><a href="#"><i class="fab fa-github"></i></a></li>
      </ul>
  </div>
  <div class="desinger text-center">
      <p>Design by Khánh Hòa </p>
  </div>
  
</section>